@import "tailwindcss";



.formSection{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formSection input{
    border: 1px solid black;
    width: 40%;
    height: 2rem;
}
.formSection h3{
    width: 40%;
}
.formSection button{   
    padding: 10px 40px;
    margin-top: 20px;
    background-color: green;
    color: white;
}
.itemCard{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 40%;
    margin-top: 10px;
}

.productSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 100%;
    padding: 0 200px;
    margin-top: 50px;
}
.proName{
    font-size: 1rem;
    height: 60px;
    font-weight: 500;
    width: 100%;
}
.proPrice{
    font-size: 1rem;
    font-weight: 400;
}
.proSub{
    display: flex;
    justify-content: space-between;
}

.proSection{
    border: 1px solid black;
    width: 230px;
    padding: 20px;
}
.proImage{
}
.proImage img{
    width: 100%;
}
.proButton{
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: greenyellow;
}
.contSection{
    position: relative;
}
.navSection {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.title{
    font-size: larger;
    font-weight: 500;
}
.cart{
    font-size: larger;
    font-weight: 500;
}
.search input{
    border: 1px solid gray;
    height: 2rem;
    width: 300px;
    padding-left: 10px;
}
.detailSection{
   
    height: 80vh;
    display: flex;
}
.singleImage{
   
    width: 300px;
    height: 300px;
}
.imgCont{
   background-color: rgb(253, 251, 251);
     width: 50%;
    height:auto;
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.singleDetail{
     width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
}
.singleName{
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    

}
.singleBtn{
    display: flex;
    gap: 20px;
}
.singleCartBtn, .singleLaterBtn{
    border: 1px solid black;
    padding: 10px 30px;
    margin-top: 20px;
}
.singleCartBtn{
    background-color: green;
    color: white;
    opacity: 0.8;
}
.singleLaterBtn{
    background-color:orange;
    color: white;
    opacity: 0.8;

}
.emailSection{
    margin-top: 30px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    z-index: 9999;
    position: absolute;
}
.emailForm{
    border: 1px solid black;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 241, 240);
  
}
.emailForm input{
    border: 1px solid black;
    width: 60%;
    height: 2.3rem;
    padding-left: 10px;
}
.emailForm h3{
    width: 60%;
    font-weight: 600;
    font-size: larger;
}
.emailForm button{
    width: 60%;
    height: 2.3rem;
    background-color: blue;
    opacity: 0.8;
    color: white;
    margin-top: 20px;
}
.cartContainer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartItem{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 10px 50px;
}
.subCart{
    display: flex;
    gap: 20px;
    align-items: center;
}
.cartDelete{
    border: 1px solid black;
    background-color: red;
    padding: 10px 30px;
    color: white;
}
.filterBar{
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    background-color: rgb(224, 106, 10);
    height: 50px;
}


.checkoutBtn {
  padding: 12px 25px;
  font-size: 18px;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.checkoutBtn:hover {
  background: darkgreen;
}

.invoiceContainer {
  max-width: 700px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.invoiceContainer h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* Each product row */
.invoiceItem {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.invoiceItem img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.invoiceDetails {
  flex: 1;
}

.invoiceDetails h4 {
  margin: 0 0 4px;
}

.invoiceDetails p {
  margin: 0;
  color: #666;
}

.invoiceDetails strong {
  display: block;
  margin-top: 4px;
}

/* Summary section */
.invoiceSummary {
  margin-top: 20px;
}

.invoiceSummary p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 16px;
}

.invoiceSummary h3 {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding-top: 10px;
  border-top: 2px solid #000;
}

/* Checkout button */
.checkoutBtn {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  font-size: 18px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.checkoutBtn:hover {
  background: darkgreen;
}


.shopSection{
    border: 1px solid black;
    position: fixed;
    top: 130px;
    margin-left: 50px;
    padding-top: 20px;
    height: 60vh;
    background-color: rgb(115, 211, 36);
    opacity: 0.8;
    z-index: 99;
}
.shopTitle{
    font-size: large;
    font-weight: 600;
    border-bottom: 2px solid black;
    text-align: center;
}
.shopSection ul li {
    margin: 20px;
    cursor: pointer;
}
.proTitle{
    position: absolute;
}

.containerSection{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.itemTitle{
    margin-bottom: -30px;
}
.itemTitle span{
    color: orange;
    font-weight: 600;
}
.emailHeading{
    color: green;
}
.verify{
    color: blue;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 50px;
}
.cartTitle{
    color: blue;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 50px;

}
.cartEmpty{
    color: red;
    font-size: larger;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;

}
.userName {
  font-size: 1.2rem;
  font-weight: 500;
}

.userHighlight {
  color: #16a34a;        
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 5px;
}

.form-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color:white ;
    z-index: 99;
    margin-top: 20px;
}
.addTitle{
    font-size: larger;
    font-weight: 600;
}